
@tailwind base;
@tailwind components;
@tailwind utilities;
      /*scroll bar fun*/
      /* width */
      ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #19191a;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
   
    
      #error-page {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
        }
      

        @keyframes slideDown {
          from {
            transform: translateY(-100%);
          }
          to {
            transform: translateY(0);
          }
        }
        
        @keyframes slideUp {
          from {
            transform: translateY(0);
          }
          to {
            transform: translateY(-150%);
          }
        }
        
        .animate-slideDown {
          animation: slideDown 0.5s ease-out forwards;
        }
        
        .animate-slideUp {
          animation: slideUp .7s ease-out forwards;
        }

        @keyframes pulsate {
          0% {
            transform: scale(1); /* Start at natural size */
          }
          50% {
            transform: scale(1.5); /* Scale up to 1.5 times the original size */
          }
          100% {
            transform: scale(1); /* Return to natural size */
          }
        }
        .pulsate {
          animation: pulsate 2s infinite ease-in-out;
        }
        .pulsate:hover {
          animation: none;
        }
        @keyframes rotateForward {
          from {
            transform: rotate(-90deg);
          }
          to {
            transform: rotate(0deg);
          }
        }
        @keyframes rotateBack {
          from {
            transform: rotate(90deg);
          }
          to {
            transform: rotate(0deg);
          }
        }
        
        .rotate-forward {
          animation: rotateForward 100ms forwards ease-in-out;
        }
        .rotate-back{
          animation: rotateBack 100ms forwards ease-in-out;
        }

        .tab:hover {
          text-decoration: underline 3px solid; /* Thick underline on hover */
          text-underline-offset: 4px; /* Adjust space between text and underline */
        }
        .tab-content {
          padding: 2rem;
         /* Adjust as needed */
          border-radius: 0 0 1rem 1rem;
          border-top: none; /* Make content blend with tabs */
        }
     /* Base styles for tabs */
        .tab{
          border-bottom: none;
          
        }